ion-img{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 40vh;
}

ion-grid{
    margin-left: 5vh;
    margin-right: 5vh;
}

.btn_right{
    float: right;
}