<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Events' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/logo/eventlance.png" alt="ion">
    <ion-card-header>
      <ion-card-title>Abriss</ion-card-title>
    </ion-card-header>

    <ion-footer>
      <ion-row>
        <ion-col center text-center size="4">
          <ion-icon name="people"></ion-icon>
          <div>30 {{ 'EventsPage.Visitors' | translate }}</div>
        </ion-col>
        <ion-col center text-center size="4">
          <ion-icon name="cash"></ion-icon>
          <div>400.- {{ 'EventsPage.Earned' | translate }}</div>
        </ion-col>
        <ion-col center text-center size="4">
          <ion-icon name="time"></ion-icon>
          <div>01.03.2021</div>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>

  <ion-card>
    <img src="../../assets/logo/eventlance.png" alt="ion">
    <ion-card-header>
      <ion-card-title>Abress</ion-card-title>
    </ion-card-header>

    <ion-footer>
      <ion-row>
        <ion-col center text-center size="4">
          <ion-icon name="people"></ion-icon>
          <div>30 {{'EventsPage.Visitors' | translate}}</div>
        </ion-col>
        <ion-col center text-center size="4">
          <ion-icon name="cash"></ion-icon>
          <div>400.- {{'EventsPage.Earned' | translate}}</div>
        </ion-col>
        <ion-col center text-center size="4">
          <ion-icon name="time"></ion-icon>
          <div>01.03.2021</div>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>